<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787247457825-ec90kv48p0khjubki0jbj0nqkicasd3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787247457825-ec90kv48p0khjubki0jbj0nqkicasd3o</string>
	<key>API_KEY</key>
	<string>AIzaSyDYyMg99_Alb69Z6kdjXx3Lw0T0YgYKdK4</string>
	<key>GCM_SENDER_ID</key>
	<string>787247457825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cindy.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-54173</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-54173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787247457825:ios:dc835918a3ef508e752560</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-54173.firebaseio.com</string>
</dict>
</plist>